// compileNested: ../../dest/$1.css
@import '../variables';


/*********************関数*************************/
@mixin shopButtonPseudo() {
  content: "";
  position: absolute;
  width: 0;
  height: 1.8px;
  background-color: #027efb;
  transition: all 0.5s ease;
}

@mixin shopAnimeBefore {
  animation: storeVerticality_open 1s forwards linear,
            storeVerticality_close 1s 1s forwards linear;
}
@mixin shopAnimeAfter {
  width: 0%;
  transition: width 1.5s;
}

/*************************************************/
.main {
  /******************** スライドバー *******************/
  .sidebar {
    position: fixed;
    z-index: 9999;
    top: 42%;
    left: 2%;
    &-list {
      list-style: none;
      @for $index from 1 through 5 {
        li:nth-child(#{$index}) {
          border-radius: 50%;
          width: 17px;
          height: 17px;
          margin: 100% 0px;
          background-color: #d9aacd;
          @media (hover: hover) {
            &:hover {
              background-color: #fb6542;
              transition: background-color .4s;
            }
          }
        }
      }
      [data-status = ""] {
        transform: scale(1);
      }
      [data-status = "action"] {
        animation: extend .2s forwards linear;
      }
    }
    [data-opacity = "true"] {
      opacity: 0;
      transition: opacity .2s;
      pointer-events: none;
    }
    [data-opacity = "false"] {
      opacity: 1;
      transition: opacity .4s;
      pointer-events: auto;
    }
    @media(max-width: $breakpoint_960) {
      // スライドバーの削除
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
  /******************* キービジュアル ******************/
 .visual_area {
   &_bg{
     width: 100%;
     margin: 1.5% auto;
   }
 }
 /********************* 春猿火紹介 ********************/
 .about_area {
   margin: 1.4% auto;
   margin-bottom: 0%;
   background-color: #3A3A59;
   .about {
     //width: 49%;
     width: 790px;
     margin: auto;
     &_char {
       width: 100%;
       opacity: 0;
       filter: blur(40px);
     }
     &_profile {
       position: relative;
       //margin-top: 1.5%;
       margin-top: 1.0%;
       &:before {
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         right: 0;
         background-color: #3a3a59;
       }
       h2 {
         text-align: center;
         //font-size: 1.5vw;
         font-size: 2.5rem;
       }
       p {
         width: 100%;
         white-space: nowrap;
         overflow: hidden;
         margin-top: .5%;
         //font-size: 0.89vw;
         //ine-height: 1.10vw;
         font-size: 1.5rem;
         line-height: 1.75rem;
       }
       .sns-list {
         margin-top: 2%;
         padding-bottom: 2%;
         text-align: center;
         // 空白を削除する。
         font-size:0;
         line-height:0;
         @for $index from 1 through 5 {
           li:nth-child(#{$index}) {
             display: inline;
             margin: 0 10px;
             img {
               @media (hover: hover) {
                 &:hover {
                   opacity: .5;
                   transition: .5s;
                 }
               }
               transition: .8s;
               border-radius: 50%;
               //width: 4.5%;
               width: 4.0%;
             }
           }
         }
       }
     }
     /*******************/
     /* scrollAnimation */
     /*******************/
     .scroll-js-inner {
         &:before {
           content: '';
           width: 0%;
           transition: width 1.5s;
       }
     }
     .scroll-js-img {
       opacity: 1;
       filter: blur(0px);
       transition: opacity 1.4s, filter 1.6s;
     }
     @media(max-width: $breakpoint_960) {
       //width: 81%;
       width: 85%;
       &_char {
         //width: 95%;
         width: 100%;
         max-width: 672.633px;
         margin: 0 auto;
         display: block;
       }
       h2 {
         font-size: 23px;
         //font-size: 2.90vw;
       }
       p {
         width: 88%;
         font-size: 13px;
         line-height: 14.6px;
         //font-size: 1.58vw;
         //line-height: 2.00vw;
         white-space: initial;
         overflow: initial;
         margin-right: auto;
         margin-left: auto;
       }
       .sns-list {
         @for $index from 1 through 5 {
           li:nth-child(#{$index}) {
             margin: 0 7.9px;
             img {
               width: 5.8%;
               max-width: 31.65px;
             }
           }
         }
       }
     }
     @media(max-width: $breakpoint_520) {
       width: 100%;
       &_char {
         width: 100%;
       }
       h2 {
         font-size: 22.5px;
       }
       p {
         width: 95%;
         font-size: 12.5px;
         line-height: 15.5px;
       }
       .sns-list {
         @for $index from 1 through 5 {
           li:nth-child(#{$index}) {
             margin: 0 1.5%;
             img {
               width: 6.7%;
             }
           }
         }
       }
     }
   }
 }

 /********************* 動画 ********************/
 .movie_area {
   position: relative;
   //padding: 1.5% 0;
   //padding: 1.0% 0;
   padding: 19.0167px 0;
   &:before {
     content: '';
     width: 100%;
     height: 100%;
     position: absolute;
     bottom: 0;
     left: 0;
     background-color: #3a3a59;
     z-index: 999;
   }
   h1 {
     //font-size: 3.8vw;
     font-size: 7.2rem;
     line-height: 7.45rem;
     text-align: center;
     width: 100%;
   }
   h2 {
     margin-bottom: 1%;
     //font-size: 1.5vw;
     font-size: 2.8rem;
     text-align: center;
     width: 100%;
   }
   .movie {
     &_3rd {
       position: relative;
       //width: 45%;
       width: 837.317px;
       margin: 0 auto;
       margin-bottom: 4%;
       cursor: pointer;
       @media (hover: hover) {
         &:hover {
           transform: scale(1.02);
           transition: .5s;
         }
       }
       transition: .5s;
       img {
         width: 100%;
       }
       .ico_play {
         &:before {
           content: '';
           background: url("../../img/lp/3rd/play.png") center center no-repeat;
           background-size: 58%;
           display: block;
           position: absolute;
           top: 27.5%;
           left: 27.4%;
           width: 41%;
           height: 44%;
           animation: iconPlay 20s infinite linear;
           transform-origin: center
         }
         img {
           width: 9%;
           position: absolute;
           top: 39%;
           left: 45.5%;
         }
       }
     }
   }
   .my_song {
     .slider {
       &_contain{
         position: relative;
         width: 100%;
       }
       &-outer {
         // スライダーで画面外にある画像を隠すために使用
         overflow-x: hidden;
       }
       &-list {
         // absoluteの基準値を変えるため
         position: relative;
         margin: 0 auto;
         //width: 44%;
         width: 64%;
         max-width: 837.317px;
         // 画像のドラックを封じ込める
         pointer-events: none;
         &-item {
           position: absolute;
           width: 100%;
           top: 0%;
         }
         [data-position = "prev"] {
           //left: -126%;
           left: -114%;
         }
         [data-position = "main"] {
           animation: slider 0.5s ease-in 0s forwards;
           opacity: 0;
           position: relative;
           pointer-events: auto;
           cursor: pointer;
           filter: drop-shadow(0px 0px 0px);
           transition: filter 0.6s;
           .youtube-item {
             position: absolute;
             left: 0;
             width: 100%;
             height: 100%;
           }
           /*&:hover {
             transition: filter 0.6s;
             filter: drop-shadow(7px 7px 3px);
           }*/
           &:before {
             content: '';
             background: url("../../img/lp/3rd/playButton.png") center center no-repeat;
             background-size: 42%;
             display: block;
             position: absolute;
             top: 34.5%;
             left: 35.5%;
             width: 29%;
             height: 30%;
           }
         }
         [data-position = "next"] {
           //right: -129%;
           right: -114%;
         }
         [data-position = ""] {
           right: -175%;
         }
       }
       &-numbers {
         margin-top: 20px;
         &-list {
           text-align: center;
           font-size:0;
           line-height:0;
           @for $index from 1 through 16 {
             li:nth-child(#{$index}) {
               width: 17px;
               height: 17px;
               background-color: #ffffff;
               display: inline-block;
               //margin: 0 5px;
               margin: 0 6.5px;
               transition: .4s;
             }
             @media (hover: hover) {
               li:nth-child(#{$index}):hover {
                 transition: .4s;
                 transform: rotate(-225deg);
               }
             }
           }
           [data-square = ""] {
             transform: rotate(0deg);
           }
           [data-square = "rotate"] {
             @media (hover: hover) {
               &:hover {
                 background-color: #fb6542;
               }
             }
             transform: rotate(135deg);
           }
         }
       }
     }
   }
   img {
     width: 100%;
   }
   @media(max-width: $breakpoint_960) {
     h1 {
       //font-size: 7.5vw;
       //line-height: 7.7vw;
       font-size: 65px;
       line-height: 77px;
     }
     h2 {
       //font-size: 3.0vw;
       font-size: 26.4333px;
     }
     .movie {
       &_3rd {
         width: 92%;
         margin-bottom: 2%;
       }
       .my_song {
         .slider {
           &-list {
             width: 92%;
           }
           &-numbers {
             &-list {
               @for $index from 1 through 16 {
                 li:nth-child(#{$index}) {
                   width: 14px;
                   height: 14px;
                   //margin: 0 5px;
                   margin: 0 4.5px;
                 }
               }
             }
           }
         }
       }
     }
   }
   @media(max-width: $breakpoint_520) {
     padding: 9.017px 0;
     h1 {
       font-size: 55px;
       line-height: 62px;
     }
     h2 {
       font-size: 25.4333px;
       margin-bottom: 4.55px;
     }
     .movie {
       &_3rd {
         width: 99%;
         margin-bottom: 2%;
       }
       .my_song {
         .slider {
           &-list {
             width: 99%;
           }
           &-numbers {
             margin-top: 9px;
             &-list {
               @for $index from 1 through 16 {
                 li:nth-child(#{$index}) {
                   width: 12.5px;
                   height: 12.5px;
                   margin: 0 4.0px;
                 }
               }
             }
           }
         }
       }
     }
   }
 }
 /*******************/
 /* scrollAnimation */
 /*******************/
 .scroll-js-movie {
   &:before {
     height: 0%;
     transition: height 2s .5s;
   }
 }
}


/********************* ショッピング ********************/

.store_area {
  background-color: #3A3A59;
  .store {
    //width: 70%;
    //margin: auto;
    &_info {
      h1 {
        //font-size: 3.8vw;
        font-size: 7.2rem;
        text-align: center;
        width: 100%;
      }
    }

    &-detail-list {
      width: 1005px;
      margin: 0 auto;
      h2 {
        //font-size: 1.3vw;
        font-size: 2.7rem;
      }
      p {
        margin-top: 2%;
        font-size: 1.27rem;
        //font-size: 0.89vw;
      }
    }

    &-syamanizumu {
      display: flex;
      justify-content: space-around;
      margin-top: 1%;
      .syamanizumu-img {
        //width: 26%;
        width: 346.333px;
        img {
          width: 100%;
          opacity: 0;
          filter: blur(40px);
        }
      }
      .syamanizumu-explanation {
        position: relative;
        width: 60%;
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: 0%;
          top: 0;
          left: -1%;
          background-color: #fb6542;
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-color: #3a3a59;
        }
      }
    }
    /*******************/
    /* scrollAnimation */
    /*******************/
    .scroll-js-syamanizumu {
      .syamanizumu-img {
        img {
          opacity: 1;
          filter: blur(0px);
          transition: opacity 1.6s, filter 1.8s;
        }
      }
      .syamanizumu-explanation {
        &:before {
          @include shopAnimeBefore;
        }
        &:after {
          @include shopAnimeAfter;
        }
      }
    }

    &-singan {
      display: flex;
      justify-content: space-around;
      margin-top: 35px;
      .singan-img {
        //width: 26%;
        width: 346.333px;
        img {
          opacity: 0;
          filter: blur(40px);
          width: 100%;
        }
      }
      .singan-explanation {
        position: relative;
        width: 60%;
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: 0%;
          top: 0;
          left: -1%;
          background-color: #fb6542;
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-color: #3a3a59;
        }
      }
    }
    /*******************/
    /* scrollAnimation */
    /*******************/
    .scroll-js-singan {
      .singan-img {
        img {
          opacity: 1;
          filter: blur(0px);
          transition: opacity 1.6s, filter 1.8s;
        }
      }
      .singan-explanation {
        &:before {
          @include shopAnimeBefore;
        }
        &:after {
          @include shopAnimeAfter;
        }
      }
    }

    &-detail-more {
      text-align: center;
      width: 100%;
      display: inline-block;
      margin: 45px 0 20px 0;
      a {
        //font-size: 2.0vw;
        font-size: 3.8rem;
      }
      .more-button {
        &::before {
          @include shopButtonPseudo();
          top: 0%;
          left: 7%;
        }
        &::after {
          @include shopButtonPseudo();
          bottom: -1%;
          right: 7%;
        }
        @media (hover: hover) {
          &:hover::before,
          &:hover::after {
            transition: all 0.9s ease;
            width: 86%;
          }
          &:hover {
            background-color: #757070;
            color: #ffffff;
            transition: background-color 0.5s ease, color 0.5s ease;
          }
        }
        transition: background-color 0.8s ease;
        //width: 20%;
        width: 380.6px;
        position: relative;
        background-color: #ffffff;
        color: #000000;
        text-align: center;
        display: inline-block;
        border-radius: 30px;
      }
    }
    @media(max-width: $breakpoint_960) {
      width: 94%;
      margin: auto;
      &_info {
        h1 {
          //font-size: 7.5vw;
          font-size: 65px;
        }
      }
      &-detail-list {
        width: initial;
        margin: initial;
        h2 {
          //font-size: 2.5vw;
          font-size: 23.7px;
          text-align: center;
        }
        p {
          //font-size: 1.28vw;
          font-size: 13px;
          margin: 1.43333px auto 0 auto;
          width: 100%;
          max-width: 559.4px;
        }
      }
      &-syamanizumu {
        flex-direction: column;
        .syamanizumu-img {
          width: 77%;
          margin: 0 auto;
          max-width: 383.833px;
        }
        .syamanizumu-explanation {
          margin: 10.75px auto 0 auto;
          width: 85%;
        }
      }
      &-singan {
        flex-direction: column;
        margin-top: 30px;
        .singan-img {
          width: 77%;
          margin: 0 auto;
          max-width: 383.833px;
        }
        .singan-explanation {
          margin: 10.75px auto 0 auto;
          width: 85%;
        }
      }
      &-detail-more {
        margin: 3.5% 0 2% 0;
        a {
          font-size: 33.7px;
        }
        .more-button {
          width: 265.067px;
        }
      }
    }
    @media(max-width: $breakpoint_520) {
      width: 100%;
      &_info {
        h1 {
          font-size: 55px;
        }
      }
      &-detail-list {
        h2 {
          //font-size: 20.0px;
          font-size: 4.9vw;
        }
        p {
          font-size: 2.9vw;
        }
      }
      &-syamanizumu {
        margin-top: 0%;
        .syamanizumu-img {
          width: 85%;
        }
        .syamanizumu-explanation {
          margin: 3.75px auto 0 auto;
          width: 96%;
        }
      }
      &-singan {
        .singan-img {
          width: 85%;
        }
        .singan-explanation {
          margin: 3.75px auto 0 auto;
          width: 96%;
        }
      }
      &-detail-more {
        margin: 3.5% 0 2% 0;
        a {
          font-size: 4.1vw;
        }
        .more-button {
          width: 50%;
        }
      }
    }
  }
}
/********************* 春猿火＆ロゴ ********************/

.other_area {
  margin-bottom: 1.0%;
  .other_harusaruhi {
    //width: 54%;
    width: 72%;
    margin: auto;
  }
  .harusaruhi {
    &-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &-char {
      //width: 60%;
      //width: 35%;
      width: 45%;
      position: relative;
      left: 4%;
      max-width: 450.417px;
    }
    &-log {
      position: relative;
      right: 4%;
      width: 42%;
      max-width: 550.667px;
      //width: 40%;
      //width: 60%;
    }
  }
  img {
    width: 100%;
  }
  @media(max-width: $breakpoint_960) {
    .other_harusaruhi {
      width: 82%;
    }
    .harusaruhi {
      &-char {
        position: initial;
        left: initial;
        width: 50%;
      }
      &-log {
        position: initial;
        right: initial;
        width: 47%;
      }
    }
  }
  @media(max-width: $breakpoint_520) {
    .other_harusaruhi {
      width: 100%;
    }
    .harusaruhi {
      &-char {
        width: 47%;
      }
      &-log {
        width: 45%;
      }
    }
  }
}




/********************* フッダー ********************/
.footer {
  //padding: 23px 0 10px 0;
  padding: 10px 0 10px 0;
  background-color: #313131;
  &-list {
    text-align: right;
    //width: 93%;
    width: 91%;
    margin: auto;
    // 空白を削除する
    font-size: 0;
    line-height: 0;
    li:nth-child(1) {
      display: inline-block;
      //width: 150px;
      width: 135px;
      margin: 0 20px;
      img {
        width: 100%;
      }
    }
    li:nth-child(2) {
      display: inline-block;
      //font-size: 1.5rem;
      font-size: 1.3rem;
      vertical-align: 4px;
    }
  }
  @media(max-width: $breakpoint_960) {
    padding: 6px 0 6px 0;
    &-list {
      width: 95%;
      li:nth-child(1) {
        width: 95px;
        margin: 0 10px;
      }
      li:nth-child(2) {
        font-size: 1.1rem;
        vertical-align: 5px;
      }
    }
  }
  @media(max-width: $breakpoint_520) {
    padding: 4px 0 4px 0;
    &-list {
      li:nth-child(1) {
        width: 75px;
      }
      li:nth-child(2) {
        font-size: .8rem;
      }
    }
  }
}
/******************************************************/
/********************* modalWindow ********************/
/******************************************************/
[data-state = "modeless"], [data-state = ""] {
  pointer-events: none;
  //opacity: 0;
  visibility: hidden;
  transition: visibility 1.0s;
}
[data-state = "modeless"] {
  .modal-window {
    &_movie {
      opacity: 0;
      transition: opacity .5s;
    }
    &_background {
      height: 100%;
      animation: modalWindow_close .2s linear 0s forwards;
    }
  }
}
[data-state = ""] {
  .modal-window {
    &_movie {
      opacity: 0;
    }
  }
}

[data-state = "modal"] {
  pointer-events: auto;
  //opacity: 1;
  //transition: opacity 5.0s;
  visibility: visible;
  .modal-window {
    &_movie {
      opacity: 1;
      transition: opacity .5s;
    }
    &_background {
      height: 0%;
      animation: modalWindow_open .2s linear 0s forwards;
    }
  }
}

.modal-window {
	position: fixed;
	//background: rgba(0, 0, 0, 0.79);
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  &_outer {
    height: 100%;
  }
  &_content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
  }
  &_warp {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  &_movie {
    margin: auto;
    width: 100%;
    max-width: 866px;
    iframe {
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
    }
  }
  &_background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.79);
  }
}
/*******************************************************/
/********************* アニメーション *******************/
/******************************************************/

/***************スライドバー********************/
@keyframes extend {
  100% {
    transform: scale(1.6);
  }
}
/***************スライダー関係********************/
@keyframes slider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes iconPlay {
  100% {
    transform: rotate(360deg);
  }
}

/***************ストア関係********************/
@keyframes storeVerticality_open {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes storeVerticality_close {
  0% {
    height: 100%;
    top: initial;
    bottom: 0;
  }
  100% {
    height: 0%;
    top: initial;
    bottom: 0;
  }
}

/***************モーダル関係********************/
@keyframes modalWindow_open {
  100% {
    height: 100%;
  }
}

@keyframes modalWindow_close {
  100% {
    height: 0%;
  }
}
